* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}

/*main purple: #7158ff
main green: #10cc75    */

/* --------------- HEADER start --------------- */
header {
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 50px;  /*header height*/
	background-color: black;
	text-align: center;
}

.name {
	float: left;
	width: 80vw;
} 

header h1 {
	color: #7158ff;
	padding-left: 20vw;
}

header p {
	color: #10cc75;
	padding-left: 20vw;
	font-size: 1.2em;
}

header span {
	color: #10cc75;
	float: right;
	height: 40px;  /*depending on header height*/
	margin: 5px 3vw 5px auto;
	font-size: 2.8em;
}

/* --------------- header END --------------- */


/* --------------- NAV start --------------- */
nav {
	position: fixed;
	z-index: 4;
	top:50px;
	height: 100%;  /*fallback for no calc support*/
	height: calc(100vh - 50px);  /*depending on header height*/
	width: 40vw;
	background-color: black;
	color: #7158ff;
	font-size: 1.8em;
	letter-spacing: 4px;
	line-height: 3em;
	padding-top: 20vh;

	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: transform .4s ease;
	transition: transform .4s ease;
}

.open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.open-btn {
	color: #307f58;
}

nav a {
	display: block;
	text-align: left;
	margin-left: 3vw;
}

nav a i {
	color: #10cc75;
}

/*section {
	transition: .8s;
}

.clear-header {
	padding-top: 10px;
	background-color: blue;
}*/

/* --------------- nav END --------------- */


/* --------------- HOME start --------------- */
#home img {
	margin: 80px auto 40px 30vw; /*fallback for no calc support*/
	margin: 80px calc(50vw - 75px) 40px calc(50vw - 75px);  /*depending on header height*/
	width: 150px;
	border-radius: 50%;
}

.home-links-container {
	text-align: center;
	font-size: 3.8em;
	padding-top: 5px;
	padding-bottom: 10px;
}
.home-links {
	display: inline;
	padding-left: 3vw;
	padding-right: 3vw;
}

.blurb {
	text-align: center;
	font-size: 3em;
	margin: 8vh 3vw 10vh 3vw;
}

/* --------------- home END --------------- */


/* ----- section titles start----- */
.section-title {
	position: relative;
	height: 60px;
	width: 100vw;
	margin: 15vh 0 6vh 0;
}

h2 {
	position: absolute;
	left: 18vw;
	z-index: 3;
	font-size: 3em;
	letter-spacing: 8px;
}

.title-primary {
	position: absolute;
	top: 40%;
	z-index: 1;
	background-color: rgba(113, 88, 255, .5);
	width: 60vw;
	height: 30px;
	
}

.title-secondary {
	position: absolute;
	top: 54%;
	right: 0;
	z-index: 2;
	background-color: rgba(16, 204, 117, .5);
	width: 70vw;
	height: 12px;
}

.title-tertiary {
	position: absolute;
	bottom: 7%;
	left: 24vw;
	z-index: 3;
	background-color: rgba(255, 84, 76, .8);
	width: 49vw;
	height: 3px;
}

/* ----- section titles end ----- */

/* ----- box style start ----- */
.skills-info::before, .about-me::before {
	content: "";
	position: absolute;
	width: 92vw;
	height: 100%;
	border-bottom: 5px solid rgba(113, 88, 255, .3);
	top: 2%;
	left: -5%;
}
.skills-info::after, .about-me::after {
	content: "";
	position: absolute;
	width: 80vw;
	height: 100%;
	border-left: 2px solid rgba(255, 84, 76, .5);
	top: 18%;
	left: -2%;
}
/* ----- box style end----- */

/* --------------- SKILLS start --------------- */
.skills-info {
	position: relative;
	width: 80vw;
	margin: 5px auto 60px auto;
	font-size: 2em;
	padding: 5px;
	text-align: justify;
}

.skill-cards {
	border: 1px solid #999;
	height: 150px;
	width: 98vw;
	margin: 25px auto;
}

.skill-cards img {
	float: left;
	width: 150px;
	height: 150px;
}

.skill-cards h3 {
	font-size: 2em;
	padding: 3px 3px 3px 155px;  /*depending on image size*/
}

.skill-cards p {
	font-size: 2em;
	padding: 3px 3px 3px 155px;  /*depending on image size*/
}

/* --------------- skills END --------------- */


/* --------------- ABOUT start --------------- */
.about-me {
	position: relative;
	width: 80vw;
	margin: 5px auto 60px auto;
	font-size: 2em;
	padding: 5px;
	text-align: justify;
}

.about-background-container {
	text-align: center;
}

.about-background-link {
	font-size: 1.8em;
	font-weight: 700;
	color: #666;
	padding: 10px 20px;
	border: 2px solid #666;
	text-transform: uppercase;
	border-radius: 5px;
	transition: .3s;
}

.about-background-link:hover {
	background-color: #666;
	color: white;
	border-radius: 15px;
	border: 3px solid black;
}

/* --------------- about END --------------- */


/* --------------- PROJECTS start --------------- */
.project-cards {
	text-align: center;
	font-size: 2em;
	margin: 8vh auto;
}

/* --------------- projects END --------------- */


/* --------------- CONTACT start --------------- */
.contact-links-container {
	text-align: center;
	font-size: 3em;
	width: 100vw;
	height: 20vh;
	margin-top: 35%;
	margin-bottom: 15%;
}
.contact-links {
	display: inline;
	padding: 1vw;
	margin: 2vw;
	line-height: 10vh;
	border-radius: 50%;
	transition: .5s ease;
}

.contact-links:hover {
	color: white;
	background-color: #7158ff;
}

/* --------------- contact END --------------- */
footer {
	font-size: 1.5em;
}
.footer {
	text-align: center;
	width: 60vw;
	height: 5vh;
	margin: auto;
}
.footer p:nth-child(1) {
	float: left;
}
.footer p:nth-child(2) {
	float: right;
	color: #10cc75; 
}